# ==============================
# 银联插件设置
#报文中不参与签名的字段名称，多个字段用逗号进行分隔
sign.invalid.fields=signature,CertId

#报文中签名的字段名称
signature.field=signature

#是否输出调试日志,true输出，其他只输出错误日志，控制输出银联加密组件的日志输出
log.info=false

#私钥算法
secss.privateAlg=SM2
#私钥路径
secss.privatePath=/home/devbox/project/unionpay3060/src/main/resources/cert/000092411154617.sm2
#私钥密码
secss.privatePwd=123123123123123
#私钥
secss.privateKey=

#公钥算法
secss.publicAlg=SM2
#公钥路径
secss.publicPath=/home/devbox/project/unionpay3060/src/main/resources/cert/cp_sm_test.cer
#公钥key
secss.publicKey=
#是否排除过期秘钥
secss.excludeExpiredCert=true

# ==============================

# 商户号
secss.merNo=123123123123123

# jwt 密钥
secss.jwtSecret=123123123123123

# 银联3060接口地址
unionpay3060Api=https://vas-test.chinapay.com/VASAP/vasap/business.htm

# app setting
APP_ENV=dev
PORT=2342